<main class="Site-content">
    <div class="level-item searchDiv">
        <div class="field has-addons homeSearch">
            <p class="control is-expanded">
                <input name="skillName" form="searchForm" class="input searchText" type="text" id="skillSearch"
                    placeholder="What would you like to learn?">
            </p>
            <form id="searchForm" action="/search" method="POST" class="control create-form">
                <div class="control">
                    <button id="searchButton" class="button is-success" type="submit">Search</button>
                </div>
            </form>
        </div>
    </div>

    <div style="max-width: 100%">
        <div class="level-item" style="width: 750px; margin: auto">
            <% include ../partials/messages %>
        </div>
    </div>

    <!-- User Container -->
    <section class="section">
        <div class="container" id="userDiv">
            <% for(let i = users.length - 1; i >= 0; i--) { %>
            <div class="box is-shadow">
                <article class="media">
                    <div class="media-left">
                        <figure class="image is-64x64">
                            <img class="is-rounded" src="https://bulma.io/images/placeholders/64x64.png">
                        </figure>
                    </div>
                    <div class="media-content">
                        <div class="content userHeader">
                            <p>
                                <strong class="userName"><%= users[i].username %></strong>
                                <medium>
                                    <a href="/email">
                                            <span class="icon is-small">
                                        <i class="fas fa-envelope emailContact" name="<%= users[i].email %>"></i>
                                        </span>
                                    </a>
                                    <a href="/chat/<%= users[i].id %>">
                                            <span class="icon is-small">
                                        <i class="fas fa-comments chatContact"></i>
                                        </span>
                                    </a>
                                </medium>
                                <br>
                                <%= users[i].description %>
                                <br><br><br>
                            </p>
                        </div>
                    </div>
                </article>
                <div class="teaching">
                    <h6 class="is-size-6">Teaching</h6>
                    <div class="buttons are-small">
                        <% users[i].skillsTeaching.forEach(skill => { %>
                            <% skill = skill.dataValues.skillId %>
                            <a class="button" data-skillId="<%= skill %>"><%= skills[skill-1].dataValues.name %></a>
                        <% }); %>
                    </div>
                </div>
                <br>
                <div class="learning">
                    <h6 class="is-size-6">Learning</h6>
                    <div class="buttons are-small">
                        <% users[i].skillsLearning.forEach(skill => { %>
                            <% skill = skill.dataValues.skillId %>
                            <a class="button" data-skillId="<%= skill %>"><%= skills[skill-1].dataValues.name %></a>
                        <% }); %>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    </section>
</main>