<main class="Site-content">

    <% include ../partials/messages %>

    <!-- Hero Welcome Card -->

    <section class="hero is-light">
        <div class="hero-body">
            <div class="container">
                
                <h1 class="title">
                    Profile View
                </h1>
                <h2 class="subtitle">
                    Welcome <%= user.dataValues.username %>
                </h2>
                <h6 class="profileFont">
                    Email: <%= user.dataValues.email %>
                    <button class="is-small" id="emailButton" type="submit">Update eMail</button>
                    <br>
                    About Me: <%= user.dataValues.description %>
                    <button class="is-small" id="bioButton" type="submit">Update Bio</button>
                    <br>
                    User Since: <%= user.dataValues.createdAt %>
                    <br>
                    Last Updated: <%= user.dataValues.updatedAt %>
                </h6>

                <br>
                <h6 class="profileFont">
                        <div class="teaching">
                            <h6 class="is-size-5">Teaching</h6>
                            <div class="buttons are-small">
                            </div>
                        </div>
                        <br>

                        <div class="learning">
                            <h6 class="is-size-5">Learning</h6>

                        </div>
                </h6>

                <br>
                <h6 class="profileFont">
                    Update Password:
                <br>
                <form action="/updatePassword" method="POST">
                    <input class="input is-rounded passInput" name="current" type="text" placeholder="Current Password">
                    <input class="input is-rounded passInput" name="newPass" type="text" placeholder="New Password">
                    <input class="input is-rounded passInput" name="newPassConfirm" type="text" placeholder="Confirm New Password">
                    <br>
                    <button class="is-small" id="passButton" type="submit">Change Password</button>
                </form>
                <h6>

            </div>
        </div>
    </section>

</main>
