<% if (typeof errors !== "undefined") { %>
    <% errors.forEach(function(error) { %>
        <div class="notification is-warning">
            <%= error.msg %>
            <button class="delete"></button>
        </div>
    <% }); %>
<%  } %>

<% if (typeof errorArray !== "undefined") { %>
    <% console.log(errorArray) %>
    <% errorArray.forEach(error => { %>
        <div class="notification is-warning">
            <%= error.msg %>
            <button class="delete"></button>
        </div>
    <% }) %>
<% } %>

<% if (successMsg != "") { %>
    <div class="notification is-success">
        <%= successMsg %>
        <button class="delete"></button>
    </div>
<% } %>

<% if (errorMsg != "") { %>
    <div class="notification is-warning">
        <%= errorMsg %>
        <button class="delete"></button>
    </div>
<% } %>

<% if (error != "") { %>
    <div class="notification is-warning">
        <%= error %>
        <button class="delete"></button>
    </div>
<% } %>